canvas{
  background-image: url("../../lib/image/background.jpg");
  background-size: 800px 500px;
  display: flex;
  margin: 0 auto;
}

strong{
  color: white;
  margin-left: 30px;
}

body{
  background-image: url("../../lib/image/true.jpeg");
  display: flex;
  flex-direction: column;
}

h2{
  font-size: 50px;
  color: white;
  margin: auto;
}

div{
  display: flex;
  justify-content: space-around;
}

div a{
  color: white;
}

span{
  color: white;
  font-size: 20px;
  margin: auto;
}
